[Desktop Entry]
Type=Application
Name=Bottom Firefox
Exec=sh -c 'firefox --profile /home/boss/.mozilla/firefox/BottomMonitor --marionette -no-remote --kiosk --kiosk-monitor 1 "https://boss.local:3000/grafana/d/otelcol-contrib-hostmetrics/opentelemetry-collector-hostmetrics-node-exporter?kiosk=true&orgId=1&from=now-15m&to=now&timezone=browser&var-DS_PROMETHEUS=default&var-service_namespace=agent&var-host=boss&var-diskdevices=[a-z]%2B|nvme[0-9]%2Bn[0-9]%2B|mmcblk[0-9]%2B&refresh=30s"'
OnlyShowIn=LXDE
