[Desktop Entry]
Type=Application
Name=Top Firefox
Exec=sh -c 'firefox --profile /home/boss/.mozilla/firefox/TopMonitor -no-remote --kiosk --kiosk-monitor 0 http://boss.local:8080/'
OnlyShowIn=LXDE
